<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">
            <div class="card ">
                <div class="card-body alinharDiretira">
                    <div class="row mb-3">
                        <div class="col-md-10">
                            <input [(ngModel)]="nomeBusca" (input)="buscarPorNome()" type="text" class="form-control" placeholder="Buscar por nome..." />
                        </div>
                    </div>

            <div class="card">
                <div class="card-body alinharEsquerda">
                    <div class="containerInterno">
                        <div class="row">
        
                            <div class="col-11">
                                <h1>Rankings</h1>
                            </div>
                            @if(esconderBotoes == false){<div class="col-1">
                                <a href="admin/cadastroRanking">
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Novo ranking</button>
                            </a>
                            </div>}
                            
                            
        
                        </div>
                        
                    </div>
          
            
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                    
                        
                    </tr>
                    </thead>
                    <tbody>
                        @for (ranking of lista; track $index) {
                        <tr>
                            <td>{{ranking.nome}}</td>
                          
                           
                            <td class="alinharDireita"> 
                                <a href="admin/cadastroRanking/{{ranking.id}}" class="btn btn-primary ">Editar</a>
                                <button (click)="deleteById(ranking)" class="btn btn-danger">Deletar</button>
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>
        <br>
        <div class="note note-info mb-3">
            <strong>Sobre os rankings:</strong> Todos os rankings são obtidos conforme trocas ou vendas realizadas, cada rank fornecerá um icone e banner de usuario exclusivo
          </div>

        </div>
    </div>
</div>