.card {
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
  border: none;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  .card-img-top {
    height: 150px;
    object-fit: cover;
  }

  .card-title {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white !important;
}

body > .container {
  min-height: 100vh; /* 100% da altura da viewport */
}

.botao-laranja {
  background: linear-gradient(to right, #e75262, #f67f57);
  color: white;
  
}
button{
  
}





