<div class="container">
    <div class="row">
      <div class="col-4 ">
        
        <header >
            
            <!-- Jumbotron -->
            <div class="p-5 text-center bg-body-tertiary">
              <h1 class="mb-3">KDS</h1>
              <h4 class="mb-3">Keep Dream Swap</h4>
              <a data-mdb-ripple-init class="btn btn-primary" href="" role="button">Efetuar cadastro</a>
            </div>
            <!-- Jumbotron -->
          </header>

      </div>
      <div class="col-1">
        <div class="vr" style="height: 550px;"></div>

      </div>
      <div class="col-7">
        <div class="card gap-3 text-bg-light hover-shadow">
        <mdb-form-control>
            <input  mdbInput type="email" id="typeEmail" class="form-control" />
            <label mdbLabel class="form-label" for="typeEmail">Nome completo </label>
          </mdb-form-control>

          <mdb-form-control>
            <input  mdbInput type="email" id="typeEmail" class="form-control" />
            <label mdbLabel class="form-label" for="typeEmail">CPF </label>
          </mdb-form-control>

          <mdb-form-control>
            <input  mdbInput type="email" id="typeEmail" class="form-control" />
            <label mdbLabel class="form-label" for="typeEmail">Email </label>
          </mdb-form-control>

          <mdb-form-control>
            <input  mdbInput type="email" id="typeEmail" class="form-control" />
            <label mdbLabel class="form-label" for="typeEmail">Senha </label>
          </mdb-form-control>

          <mdb-form-control>
            <input  mdbInput type="email" id="typeEmail" class="form-control" />
            <label mdbLabel class="form-label" for="typeEmail">Cidade </label>
          </mdb-form-control>
          
            
              
            
          </div>
  
      </div>
     
      
    </div>
    
  </div>
  <footer class="bg-body-tertiary text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2025 Copyright: KeepDreamSwapLtda
      
    </div>
    <!-- Copyright -->
  </footer>