<div class="container">
  <div class="row">
    <div class="col-md">
      <header>
        <!-- Jumbotron -->
        <div class="p-5 text-center bg-body-tertiary">
          <h1 class="mb-3">KDS</h1>
        </div>
        <!-- Jumbotron -->
      </header>

      <form #formulario="ngForm">
        <div class="card gap-3 text-bg-light hover-shadow">

          <mdb-form-control>
            <input required mdbInput type="text" id="typeNome" class="form-control" [(ngModel)]="usuario.nome" name="nome" />
            <label mdbLabel class="form-label" for="typeNome">Nome completo </label>
          </mdb-form-control>

          <mdb-form-control>
            <input required mdbInput type="text" id="typeNome" class="form-control" [(ngModel)]="usuario.username" name="nome" />
            <label mdbLabel class="form-label" for="typeNome">Username </label>
          </mdb-form-control>

          <mdb-form-control>
            <input required mdbInput type="text" id="typeCpf" class="form-control" [(ngModel)]="usuario.cpf" name="cpf"/>
            <label mdbLabel class="form-label" for="typeCpf">CPF </label>
          </mdb-form-control>

          <mdb-form-control>
            <input required mdbInput type="email" id="typeEmail" class="form-control" [(ngModel)]="usuario.email" name="email" />
            <label mdbLabel class="form-label" for="typeEmail">Email </label>
          </mdb-form-control>

          <mdb-form-control>
            <input required mdbInput type="password" id="typePassword" class="form-control" [(ngModel)]="usuario.password" name="password" />
            <label mdbLabel class="form-label" for="typePassword">Senha </label>
          </mdb-form-control>

          <div class="mb-3">
            @if (usuario.cidade == null) {
              <a data-mdb-ripple-init class="btn btn-primary" role="button" (click)="buscarCidade()">Buscar cidade</a>
            } @else {
              <span>Cidade: {{ usuario.cidade.nome }}</span>
              <a data-mdb-ripple-init class="btn btn-primary ms-2" role="button" (click)="buscarCidade()">Alterar cidade</a>
            }
          </div>

          <mdb-form-control>
            <input required mdbInput type="tel" id="typeTelefone" class="form-control" [(ngModel)]="usuario.telefone" name="telefone" />
            <label mdbLabel class="form-label" for="typeTelefone">Telefone </label>
          </mdb-form-control>

          <button data-mdb-ripple-init class="btn btn-primary" type="button" [disabled]="!formulario.valid" (click)="save()">Efetuar cadastro</button>
        </div>
      </form>
    </div>
  </div>

  <ng-template #modalCidadeDetalhe>
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Cadastro de Usuario</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body">
      <app-cidade-list [esconderBotoes]="true" (retorno)="retornoCidade($event)"></app-cidade-list>
    </div>
  </ng-template>
