<div class="container">
  <div class="row">
    <div class="col-md">
      <div class="position-absolute top-50 start-50 translate-middle">

      <div class="m-3">
      <mdb-form-control>
        <input mdbInput type="email" id="typeEmail" class="form-control" />
        <label mdbLabel class="form-label" for="typeEmail">Email input</label>
      </mdb-form-control>
      </div>

      <div class="m-3">
      <mdb-form-control>
        <input mdbInput type="password" id="typePassword" class="form-control" />
        <label mdbLabel class="form-label" for="typePassword">Password input</label>
      </mdb-form-control>
      </div>

      <div class="text-center">
      <button (click)="logar() type="button" class="btn btn-success" mdbRipple>Success</button>
      </div>
      
    </div>
    
  </div>
</div>