
<div class="container">
  
  <div class="row">
    
    <div class="d-flex align-items-center justify-content-center"
    >

    
    
    <div class="col-md d-flex align-items-center justify-content-center">
      
      
      
      <div class="card d-flex" style="width: 400px;">
        <div class="card-body d-grid gap-0.1">
            
          <div class="m-3   alinharCentro semMargem">
            <img src="logo-sistema.png" alt="">
          </div>
          <div class="branco alinharCentro">
            <h3>Já possui uma conta ?</h3>
            
            <p>Faça seu login e acesse o sistema</p>
          </div>
         
          <div class="m-3  ">
            
            <mdb-form-control>
              <input [(ngModel)]="login.username" mdbInput type="email" id="typeEmail" class="form-control" style="background-color: #120527;" />
              <label mdbLabel class="form-label" for="typeEmail" style="color: #bfb6cf; font-size: small;">Digite seu email </label>
            </mdb-form-control>
            <br>
            <mdb-form-control>
              <input (keyup.enter)="logar()" [(ngModel)]="login.password" mdbInput type="password" id="senha"
                    class="form-control" style="background-color: #120527;"/>
                  <label mdbLabel class="form-label " for="senha" style="color: #bfb6cf; font-size: small;">Digite sua senha</label>
                </mdb-form-control>
            </div>
      
            <div class="text-center">
            
            <button (click)="logar()" type="button" class="btn botaoLogin" mdbRipple style="color:white;">Acessar</button>
            
            
            <button (click)="cadastroUsuario()" type="button" class="btn botaoCadastro" mdbRipple style="color:white; background-color: #210d46; border-style: solid;">Cadastrar</button>
          
            
        </div>
      </div>

     
      </div>
      
    </div>
    
  </div>
  </div>
</div>
<ng-template #modalCadastroUsuario>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro de Usuario</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">

    <app-usuario-form></app-usuario-form>

  </div>
  </ng-template>