<div class="container">
    <div class="row">
      <div class="col-12 center">
        
      <div>
        <h3>Digite seu email</h3>
        <mdb-form-control>
            <input mdbInput type="text" id="form1" class="form-control"/>
            <label mdbLabel class="form-label" for="form1"> </label>
          </mdb-form-control>
      </div>

      <div>
        <h3>Digite sua senha</h3>
        <mdb-form-control>
            <input mdbInput type="text" id="form1" class="form-control"/>
            <label mdbLabel class="form-label" for="form1"> </label>
          </mdb-form-control>
      </div>
      <br>
      <diV>
        <button type="button" class="btn btn-primary" mdbRipple>Login</button>
      </diV>
      <br>
      <diV>
        <button type="button" class="btn btn-primary" mdbRipple>Cadastrar</button>
      </diV>
  
     
  
      </div>
    </div>
  </div>