.form-control{
    color: black;
}

button{
    margin: 2px;
    width: 160px;
}

img{
  width: 140px;
  height: 80px;
  
}
.alinharCentro{
    text-align: center;
}

.semMargem{
    margin: 0%;
}

.botaoCadastro{
    border: 0.5px solid white;
    
}

.card{
    height: 600px;
    background-color: #210d46;
   margin-top: 50px;
}

.branco{
    color: #bfb6cf;
}
body{
    background-color: #bfb6cf;
}

.botaoLogin{
    background: linear-gradient(to right, #e75262, #f67f57);

}