<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">

                <div class="row mb-3">
                    <div class="col-md-10">
                        <input [(ngModel)]="nomeBusca" (input)="buscarPorNome()" type="text" class="form-control" placeholder="Buscar por nome..." />
                    </div>
                </div>
                <div class="card-body alinharEsquerda">
                    <div class="containerInterno">
                        <div class="row">
        
                            <div class="col-11">
                                <h1>Consoles</h1>
                            </div>
                            @if(esconderBotoes == false){<div class="col-1">
                                <a href="admin/cadastroConsole">
                                <button type="button" class="btn btn-primary" data-mdb-ripple-init>Novo Console</button>
                            </a>
                            </div>}
                            
                            
        
                        </div>
                        
                    </div>
           
            
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        
                       
                    </tr>
                    </thead>
                    <tbody>
                        @for (console of lista; track $index) {
                        <tr>
                            <td>{{console.nome}}</td>
                            <td>{{console.marca}}</td>
                            <td class="alinharDireita">
                            @if(esconderBotoes){
                                <button type = "button" class = "btn btn-primary btn-rounded" mdbRipple (click)="selecionarConsole(console)">Selecionar</button>                            }@else {
                                <td class="alinharEsquerda"> 
                                    <a href="admin/cadastroConsole/{{console.id}}" class="btn btn-primary ">Editar</a>

                                    <button (click)="deleteById(console)" class="btn btn-danger">Deletar</button>
                                 </td>
                            }
                            
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>

