<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card">
                <div class="card-body alinharEsquerda">
            <h1>Consoles</h1><br>
            
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Marca</th>
                        
                       
                    </tr>
                    </thead>
                    <tbody>
                        @for (console of lista; track $index) {
                        <tr>
                            <td>{{console.nome}}</td>
                            <td>{{console.marca}}</td>
                            
                            
                            <td class="alinharEsquerda"> 
                                <a href="admin/console/edit/{{console.id}}" class="btn btn-primary ">Editar</a>
                                <button (click)="deleteById(console)" class="btn btn-danger">Deletar</button>
                             </td>
                        </tr>
                    }
                   
                    </tbody>
                </table>

            </div>
        </div>

        </div>
    </div>
</div>