<br>
<div class="container">
    <div class="row">
        <div class="col-12 azul">

            <div class="card ">
                <div class="card-body alinharDiretira">
            <div class="containerInterno">
                <div class="row">

                    <div class="col-11">
                        <h1>Cidades</h1>
                    </div>
                    @if(esconderBotoes == false){<div class="col-1">
                        <a href="admin/cadastroCidade">
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init>Nova cidade</button>
                    </a>
                    </div>}
                    
                    

                </div>
                
            </div>
            
            
              
           
 
                <table class="table">
                    
                    <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        
                    </tr>
                    </thead>
                    <tbody>
                       
                        @for (cidade of lista; track $index) {
                        <tr>
                            <td>{{cidade.nome}}</td>
                            
                            <td class="alinharDireita"> 
                                @if(esconderBotoes){
                                    <button tupe = "button" class = "btn btn-primary btn-rounded" mdbRipple (click)="select(cidade)">Selecionar</button>
                                }
                                @else{<a [routerLink]="['/admin/cadastroCidade', cidade.id]" class="btn btn-primary">Editar</a>


                                <button (click)="deleteById(cidade)" class="btn btn-danger">Deletar</button>}
                             </td>
                        </tr>

                      
                    }
                    </tbody>
                </table>

            </div>
        </div>
        <div class="note note-info mb-3">
            <strong>Sobre as cidades:</strong> Note que nosso sistema suporta apenas cidades do Parana.
          </div>

        </div>
    </div>
</div>

